/* .Main {
  font-family: sans-serif;
  text-align: center;
}


.Home-link {
  color: #61dafb;
} */

/* Upload */
/* .uploadPicturesWrapper div {
  justify-content: flex-start !important;
}

.uploadPictureContainer {
  width: 200px !important;
  height: auto !important;
  margin: 2% 5% !important;
  padding: 10px !important;
}

.uploadPictureContainer img {
  height: 200px !important;
}

#hello_user {
  margin: 1em;
}

#confirm_button {
  display: none;
} */

#container {
  border-radius: 3px;
  width: 40em;
  height: 15em;
  background-color: white;

  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
}

/* container information */
#container-information{
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%)
}

/* sign in button */
#login-btn{
  width: 10em;
  height: 2em;
  background-color: #406FB7;
  border: none;
  color: white;
  font-weight : bold;
  border-radius: .2em;
}

#not_logged_in {
  font-size: 16px;
}

.Home-link {
  margin-top: 3em;
  text-decoration: none;
}

.Home-link:hover {
  text-decoration: underline;
}

/* mobile responsive */
@media screen and (max-width: 750px){
  #container {
    border-style: none;

    width: auto;
    height: auto;
    background-color: #FAFBFC;
    box-shadow: none;


    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
