html, body, #root {
  height: 100%;
  background-color: white;
}

.Home, .App {
  background-color: white;
  height: 100%
}
#hello_user {
  text-align: center;
  margin: 1em;
}

#upload {
  display: flex;
  justify-content: center;
}

#upload-button {
  width: 15%;
}

#image-container {
  border: 1px solid #eceef3;
  background-color: white;
  margin: 20px 10%;
}
.custom-navbar {
  background-color: white;
  border-bottom: 2px solid #eceef3;
  margin: 0px 10px 10px;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 17px;
}
#container {
  border-radius: 3px;
  width: 40em;
  height: 15em;
  background-color: white;

  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
}

/* container information */
#container-information{
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%)
}

/* sign in button */
#login-btn{
  width: 10em;
  height: 2em;
  background-color: #406FB7;
  border: none;
  color: white;
  font-weight : bold;
  border-radius: .2em;
}

#not_logged_in {
  font-size: 16px;
}

.Home-link {
  margin-top: 3em;
  text-decoration: none;
}

.Home-link:hover {
  text-decoration: underline;
}

/* mobile responsive */
@media screen and (max-width: 750px){
  #container {
    border-style: none;

    width: auto;
    height: auto;
    background-color: #f9f9f9;
    box-shadow: none;


    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
