/* .Main {
  font-family: sans-serif;
  text-align: center;
}


.Home-link {
  color: #61dafb;
} */

/* Upload */
/* .uploadPicturesWrapper div {
  justify-content: flex-start !important;
}

.uploadPictureContainer {
  width: 200px !important;
  height: auto !important;
  margin: 2% 5% !important;
  padding: 10px !important;
}

.uploadPictureContainer img {
  height: 200px !important;
}

#hello_user {
  margin: 1em;
}

#confirm_button {
  display: none;
} */

body {
  background-color: #f7ede2;
}

#big_container {
  margin-top: 10em;
  display: flex;
  justify-content: center;
}

#container {
  border-radius: 3em;
  width: 40em;
  height: 20em;
  background-color: #98c1d9;
}

.header {
  margin-top: 2em;
  margin-left: 7.6em;
}

.not_logged_in {
  margin-left: 8em;
  font-size: 25px;
}

.Home-link {
  margin-top: 3em;
  margin: 18em;
  text-decoration: none;
}

.Home-link:hover {
  text-decoration: underline;
}
